#game-wrapper {
  position: relative;
  width: 512px;
  height: 480px;
  margin: 20px auto;
  display: block;
}

#game-overlay, #game-overlay div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
}

#game-overlay {
  background: rgba(0, 0, 0, 0.7);
}

#game-overlay div {
  font-size: 2em;
  color: #fff;
  text-align: center;
  top: 130px;
}

#game-overlay p {
  margin: 10px 0;
}

#game-overlay button {
  margin-top: 50px;
  font-size: 1em;
}
